.main-container {
    width: 40%;
    margin-left: 5%;
    margin-top: 3%;
    float:left;
    position: relative;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    border: 2px black;
    box-shadow: 2px 2px 3px #bdbcbc;
}

.header-container {
    width: 40%;
    margin-left: 5%;
    float:left;
}

.calendar-container {
    float: right;
    align-content: center;
    margin-right: 5em;
}

.yellow-bar {
    background-color: #EDD51C;
    display: block;
    height: 10%;
    width: 100%;
    margin-bottom: 3%;
    padding-top: 1%;
}

.header-text {
    color: #3F1A0A;
    font-family: 'Roboto', sans-serif;
    margin-left: 3%;
}

.info-text {
    color: #262626;
    font-family: 'Nanum Gothic', sans-serif;
}

.info-text a:link, a:visited {
    color: #262626;
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
}

.info-text a:hover, a:active {
    color: #EDD51C;
    text-decoration: none;
}

.margin {
    margin: 2em;
}

.text-center {
    text-align: center;
}
